ENCRYPTA_SERVER_IP=127.0.0.1
ENCRYPTA_EMAIL_ADDRESS=
ENCRYPTA_EMAIL_APP_PASSWORD=
ENCRYPTA_ADMIN_USERNAME=admin
ENCRYPTA_ADMIN_PASSWORD=adminpassword
ENCRYPTA_STATUS_SERVER_PORT=5000
ENCRYPTA_CONNECTION_PORT=5001
ENCRYPTA_DIRECT_MESSAGE_PORT=5002
ENCRYPTA_DIRECT_FILE_PORT=5003
ENCRYPTA_GROUP_PORT=5004
ENCRYPTA_CALL_SIGNAL_PORT=5005
ENCRYPTA_CALL_AUDIO_PORT=5006
ENCRYPTA_VIDEO_SIGNAL_PORT=5007
